@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif !important;
}

.right-sidebar .offcanvas .offcanvas-header{
    margin-top: 32px;
}

.right-sidebar .offcanvas .offcanvas-body .nav-tabs .nav-item .nav-link{
    border: none;
}

.right-sidebar .offcanvas .offcanvas-body .nav-tabs{
    justify-content: space-between;
}

.right-sidebar .offcanvas .offcanvas-body .nav-tabs .nav-item .nav-link{
    font-weight: 600;
    color: #242748;
}

.right-sidebar .offcanvas .offcanvas-body .nav-tabs .nav-item .nav-link.active{
    color: #242748;
    border-bottom: 2px solid #3e7da6 !important;
    font-weight: 400;
}

.right-sidebar .offcanvas form label{
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

/* datatable */

.crm-table thead tr th{
    padding: 8px !important;
    color: #2271b1;
    font-size: 12px;
}

.crm-table.striped>tbody>:nth-child(odd) {
    background: #f6f9fc;
}

table.dataTable tbody td{
    padding: 10px !important;
}

.dataTables_wrapper .dataTables_filter input{
    background-color: #fff;
    border: 1px solid #9092b2;
    border-radius: 3px;
    color: #242748;
    font-family: inherit;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.6rem 0.6rem !important;
    transition: box-shadow .15s ease,background-color .15s ease;
    margin-bottom: 30px;
}

.dataTables_filter1 input{
  background-color: #fff;
  border: 1px solid #9092b2;
  border-radius: 3px;
  color: #242748;
  font-family: inherit;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.5rem !important;
  transition: box-shadow .15s ease,background-color .15s ease;
}

.dataTables_wrapper .dataTables_length label{
    font-size: 12px;
    color: #2271b1;
    font-weight: 600;
}

.dataTables_wrapper .dataTables_length label select{
    background-color: #fff;
    padding: 0px 12px;
}

.dataTables_info{
    font-size: 12px;
    color: #2271b1 !important;
    font-weight: 600;   
}

#example_previous {
    padding: 5px 10px !important;
    font-size: 13px;
    
}
  
  #example_next  {
    padding: 5px 10px !important;
    font-size: 13px;
  }

.dataTables_paginate span .paginate_button{
    background: #fff !important;
    border: 1px solid #3e7da6 !important;
    border-radius: 3px !important;
    box-shadow: 0 2px 1px rgb(28 31 63 / 6%) !important;
    padding: 5px 10px !important;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background-color: #2271b1 !important;
    color: #fff !important;
}

.dataTables_paginate span .paginate_button.current{
    background-color: #2271b1 !important;
    color: #fff !important;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.right-offcanvas{
    z-index: 9999 !important;
}

.btn-run-color { 
    background-color: #2271b1 !important;
    color: #fff !important;
    border-radius: 3px !important;
}

section {
    padding: 60px 0;
    min-height: 100vh;
}
a, a:hover, a:focus, a:active {
    text-decoration: none !important; 
    outline: none !important;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}.bg-gray {
    background-color: #f9f9f9;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #2271b1;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #2271b1 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #2271b1 none repeat scroll 0 0;
  border-color: #2271b1;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #2271b1;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: #2271b1 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #2271b1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #2271b1 none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}

.we-offer-area .item i {
  color: #2271b1;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.we-offer-area .item p {
  margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  text-decoration: none !important;
    color: #2271b1;
}


.we-offer-area .item::after {
  background: #2271b1 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #2271b1 !important;
}

.we-offer-area.text-left .item i {
  background: #2271b1 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #2271b1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}

/* boostrap tabination */

#tile-1 .tab-pane
{
  padding:15px;
  height:80px;
}
#tile-1 .nav-tabs
{
  position:relative;
  border:none!important;
  background-color:#fff;
/*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
  border-radius:6px;
}
#tile-1 .nav-tabs li
{
  margin:0px!important;
}
#tile-1 .nav-tabs li a
{
  position:relative;
  margin-right:0px!important;
  padding: 20px 40px!important;
  font-size:16px;
  border:none!important;
  color:#333;
}

#tile-1 .nav-tabs li a i{
    margin-right: 5px;
}
#tile-1 .nav-tabs a:hover
{
  background-color:#fff!important;
  border:none;
}
#tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:#2271b1;
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
#tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:#2271b1 !important;
}

.btn-nonebacground{
  background: none;
  color: #2271b1;
}

.btn-nonebacground i{
  color: #2271b1;
}

.dataTables_filter {
  display: none;
}

.bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.dataTables_info{
  padding: 0 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}